# Naive Bayes Classifer from Scratch

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
# from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [7]:
df = pd.read_csv('emails.csv')

In [8]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [9]:
len(df.columns)

3002

In [10]:
df.shape[0]

5172

In [11]:
target = df.iloc[:,-1]
target.head() # so the name for tha target column is Predictin 1 for spam and 0 for not spam

0    0
1    0
2    0
3    0
4    0
Name: Prediction, dtype: int64

In [13]:
df['Prediction'].value_counts() # 0 is not spam and 1 is spam

Prediction
0    3672
1    1500
Name: count, dtype: int64